[submodule "plugins/FastGPT"]
	url = git@github.com:PancrePal-xiaoyibao/fastgpt_xiaoyibao_xxxbot.git
[submodule "plugins/GetWeather"]
	url = git@github.com:PancrePal-xiaoyibao/xxxbot-GetWeather.git
	path = plugins/GetWeather
